<section layout="row" layout-align="space-around center">
  <h2>Edit Post</h2>
  <div flex="10">
    <md-button ng-click="vm.preview()" class="md-raised md-accent">{{ vm.buttonText }}</md-button>
  </div>
</section>

<!-- <md-input-container flex>
  <label>Biography</label>
  <textarea ng-model="vm.post" columns="1" md-maxlength="150"></textarea>
</md-input-container> -->
<section layout="row">
  <md-input-container flex="70">
    <label>Title</label>
    <input ng-model="vm.post.title">
  </md-input-container>
</section>

<section layout="row">
  <div class="editor" ng-model="vm.post.markdown" ui-codemirror ui-codemirror-opts="vm.opts" flex="70" ng-show="!vm.previewMode"></div>
  <div class="editor" flex="70" ng-show="vm.previewMode" ng-bind-html="vm.post.raw"></div>
</section>

