.editor {
  background-color: rgb(55,71,79);
}

.editor .Codemirror, .editor .CodeMirror {
  font-family: inherit;
  color: white;
  background-color: rgb(55,71,79);

}

.editor.preview {
  padding: 15px;
}

ac-create-post {
  width: 100%;
}
