.editor {
  background-color: white;
}

.editor .Codemirror, .editor .CodeMirror {
  font-family: inherit;
  color: rgb(55,71,79);
  background-color: white;
}

.editor.preview {
  padding: 15px;
}

ac-create-post {
  width: 100%;
}
