<section layout="row" layout-align="start start">

  <div layout="column" flex="70">

    <div layout="row" layout-align="start center" flex>
      <div flex="20">
        <h2>Edit Post</h2>
      </div>
      <div flex="15">
        <md-button ng-click="vm.preview()" class="md-raised md-accent">{{ vm.buttonText.preview }}</md-button>
      </div>
      <div flex="15">
        <md-button ng-click="vm.changePostState()" class="md-raised">{{ vm.buttonText.postState }}</md-button>
      </div>
    </div>


    <div layout="row">
      <md-input-container flex="100">
        <label>Title</label>
        <input ng-model="vm.newPost.title">
      </md-input-container>
    </div>

    <div layout="row" flex>
      <div class="editor" ng-model="vm.newPost.markdown" ui-codemirror ui-codemirror-opts="vm.opts" flex="100" ng-show="!vm.previewMode"></div>
      <div class="editor preview" flex="100" ng-show="vm.previewMode" ng-bind-html="vm.newPost.raw"></div>
    </div>

  </div>

  <div layout="column" flex="30" class="md-whiteframe-z1">
    <div>
      <md-button ng-click="vm.save()" class="md-raised md-accent">save</md-button>
    </div>

    <div>
      <md-button ngf-select ngf-change="vm.upload($files)">upload</md-button>
    </div>
  </div>
</section>

