<section layout="column">
  <md-progress-circular md-mode="indeterminate" class="loader" ng-if="vm.loading"></md-progress-circular>
  <div layout="row" layout-align="space-around center">
    <div flex="5">
      <h3>Posts</h3>
    </div>
    <md-input-container flex="40">
      <label>Posts</label>
      <input type="text" ng-model="search">
    </md-input-container>
  </div>
  <div class="md-whiteframe-z1 post-item fx-fade-up" ng-repeat="post in vm.posts | filter:search track by post._id" layout="row" layout-align="space-between start">
    <div flex>
      <md-checkbox ng-model="vm.batch[post._id]" aria-label="Checkbox 1"></md-checkbox>
    </div>
    <div layout="column" flex="40">
      <h3>{{ ::post.title }}</h3>
      <h5 class="author">author: {{ ::post.author.displayName }}</h5>
    </div>

    <div layout="column" flex="40">
      <h5>state: {{ ::post.state }}</h5>
      <small class="created">created on: {{ ::post.createdAt | date:"MM/dd/yyyy" }}</small>
    </div>

    <md-button class="md-icon-button" aria-label="Edit post" ng-href="/admin/create-post/{{ post._id }}">
      <md-icon md-svg-src="/images/mdi/pencil.svg" alt="edit "></md-icon>
      <md-tooltip>
        Edit
      </md-tooltip>
    </md-button>

    <md-button ng-click="vm.remove(post._id)"class="md-icon-button" aria-label="Delete post">
      <md-icon md-svg-src="/images/mdi/close.svg" alt="edit "></md-icon>
      <md-tooltip>
        Delete
      </md-tooltip>
    </md-button>
  </div>
  <!-- <md-divider ng-repeat-end md-inset></md-divider> -->

  <md-button class="md-fab fab" aria-label="New post" href="/admin/create-post/">
    <md-icon md-svg-src="/images/mdi/add.svg" alt="new post "></md-icon>
  <md-button>
</section>
