<h3>Posts</h3>
<div class="md-whiteframe-z1 post-item" ng-repeat-start="post in vm.posts" layout="row" layout-align="space-between start">
  <div layout="column" flex="40">
    <h3>{{ ::post.title }}</h3>
    <h5 class="author">author: {{ ::post.author.displayName }}</h5>
  </div>

  <div layout="column" flex="40">
    <h5>state: {{ ::post.state }}</h5>
    <small class="created">created on: {{ ::post.createdAt | date:"MM/dd/yyyy" }}</small>
  </div>

  <md-button class="md-icon-button" aria-label="Edit post" ng-href="/admin/create-post/{{ post._id }}">
    <md-icon md-svg-src="/images/mdi/pencil.svg" alt="edit "></md-icon>
  </md-button>

  <md-button class="md-icon-button" aria-label="Delete post">
    <md-icon md-svg-src="/images/mdi/close.svg" alt="edit "></md-icon>
  </md-button>
</div>
<md-divider ng-repeat-end md-inset></md-divider>

<md-button class="md-fab fab" aria-label="New post" href="/admin/create-post/">
  <md-icon md-svg-src="/images/mdi/add.svg" alt="new post "></md-icon>
<md-button>
