<md-content layout="row" layout-align="center center" layout-fill class="login" id="auth">
  <div class="md-whiteframe-z1" flex="40">
    <form layout="row" name="login-form" class="login-form"
      name="signInForm"
      novalidate
      layout-align="space-around end"
      ng-submit="vm.login()">

      <div class="column" flex="60">
        <h3>ADMIN SIGN IN (invitation only)</h3>
        <md-input-container>
          <label>email</label>
          <input ng-model="vm.credits.email" name="email" required type="email" autofocus>
        </md-input-container>

        <md-input-container>
          <label>password</label>
          <input ng-model="vm.credits.password" type="password" required>
        </md-input-container>
      </div>

      <div class="buttons">
        <md-button class="md-primary"
          md-ripple-size="full"
          ng-disabled="signInform.$invalid">
          login
        </md-button>

        <md-button class="md-warn"
          md-ripple-size="full"
          type="button"
          ng-click="vm.showForgotPassword()">
          forgot password
        </md-button>
      </div>
    </form>


  </div>
</md-content>
