<section id="home">
  <md-content class="hero">
    <div class="title-box">
      <img src="images/acLogoLrg.svg" nice-img class="logo">
      <h1>All things Angularjs</h1>
      <h3>Workshops, Corporate Training, Tutorials</h3>
      <form>
        <md-input>
      </form>
    </div>
    <div class="signup-box"></div>
  </md-content>
  <md-content>
    <md-content class="home-section what-we-do">
      <div class="section-title">
        <h3>What we do</h3>
      </div>
      <div class="content">

        <md-card class="card">
          <img nice-img ng-src="images/blue-tri.svg" class="md-card-image" alt="Washed Out">
          <md-card-content>
            <h2 class="md-title">Onsite JS training</h2>
            <p>
              We specialize in Angularjs training, but we have curriculum and experince for other JS technologies like React, Node, ES2015, Webpack, etc. We can also create something custom for your needs and will deliver the curriculum onsite.
            </p>
          </md-card-content>
          <div class="md-actions" layout="row" layout-align="end center">
            <md-button class="md-primary">Book us</md-button>
          </div>
        </md-card>

        <md-card class="card">
          <img nice-img ng-src="images/mango-tri.svg" class="md-card-image" alt="Washed Out">
          <md-card-content>
            <h2 class="md-title">2-day workshops</h2>
            <p>
              We offer two day workshops on a variety of JS technologies. We travel and host these workshops in many different cities across the world. Check When we're coming to your city! We'd also love to chat if you or your company is interested in hosting one of our workshops.
            </p>
          </md-card-content>
          <div class="md-actions" layout="row" layout-align="end center">
            <md-button class="md-primary">RSVP</md-button>
            <md-button class="md-accent">Host us</md-button>
          </div>
        </md-card>

        <md-card class="card">
          <img nice-img ng-src="images/red-tri.svg" class="md-card-image" alt="Washed Out">
          <md-card-content>
            <h2 class="md-title">Angular and JS tutorials</h2>

            <p>
              We regulary write about awesome thigns around JS and webdevelopment. Espcially Angular. Take a look at our blog.
            </p>
          </md-card-content>
          <div class="md-actions" layout="row" layout-align="end center">
            <md-button class="md-primary">Blog</md-button>
          </div>
        </md-card>
      </div>
    </md-content>

    <md-content class="home-section">
      dates
    </md-content>
    <md-content class="home-section">
      reviews, so far
    </md-content>
    <md-content class="home-section">
      blog latest
    </md-content>
  </md-content>
</section>
