$colors = {
  background: #efefef,
  accent: {
    base: #FFEA00,
    dark: #FFD600,
    light: #FFFF00
  },

  primary: {
    base: #00BCD4,
    dark: #00838F,
    light: #80DEEA
  }
}

$spacing = {
  toolbarPadding: 64px,
  leftPadding: 60px,
  rightPadding: 60px
}

$viewports = {
  phone: 420px,
  tablet: 1200px,
  laptop: 1400px
}


primary-color = $colors.primary.base
primary-color-dark = $colors.primary.dark
primary-color-light = $colors.primary.light

accent-color = $colors.accent.base
bg-color = $colors.background
